@font-face {
    font-family:"regular";
    src: url(fonts/montserrat/Montserrat-Regular.otf);
}
@font-face {
    font-family:"stretch";
    src: url(fonts/stretch_pro/StretchPro.otf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family:"regular";
}

/* CORES */
:root {
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color: #fff;
    --main-color: #186990;
}
html {
    font-size: 60%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5vh 8%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
#menu-icon {
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}
.logo {
    font-family: "stretch";
    font-size: 25px;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
span {
    font-family: "stretch";
    background: linear-gradient(
        270deg,
        #609cc6 10%,
        #00587e 100%
    );
    background-clip: text;
    color: transparent;
}
.navbar a {
    font-size: 15px;
    color: var(--text-color);
    margin-left: 5vh;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.navbar a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.gradient-btn {
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 10vh;
    background: linear-gradient(
        270deg,
        #609cc6 10%,
        #00587e 100%
    );
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: #fff;
    border: none;
    text-wrap: nowrap;
}
.gradient-btn:hover {
    transform: scale(1.05);
}